<% if p.favorited_by?(current_user) %>
  <p>
    <%= link_to post_post_favorites_path(p), method: :delete, remote: true do %>
      <i class="fas fa-heart fa-2x"></i> <%= p.post_favorites.count %>
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to post_post_favorites_path(p), method: :post, remote: true do %>
       <i class="far fa-heart fa-2x"></i> <%= p.post_favorites.count %>
    <% end %>
  </p>
<% end %>