<% if p.favorited_by?(current_user) %>
  <p>
    <%= link_to post_post_favorites_path(p), method: :delete, remote: true do %>
      💙 <%= p.post_favorites.count %>いいね
    <% end %>
  </p>
<% else %>
  <p>
    <%= link_to post_post_favorites_path(p), method: :post, remote: true do %>
      💙 <%= p.post_favorites.count %>いいね
    <% end %>
  </p>
<% end %>