<div class="container">
  <div class="row">
    <div class="col-sm-10 mx-auto">
      <!-- 通知内容の全削除 -->
      <section class="notification_all_delete ">
        <%= link_to '通知内容を全て削除する', notification_all_delete_path, method: :delete, data: { confirm: '通知内容を削除しますか？' }, class: "btn btn-danger" %>
      </section>
      <div class="jscroll">
        <section class="notification-table">
          <!-- 通知の有無で表示内容を分ける -->
          <% if @notifications.exists? %>
            <%= render 'notifications/notification', notifications: @notifications %>
          <% else %>
            <h3 class="text-center">通知はありません</h3>
          <% end %>
        </section>
        <%= link_to_next_page @notifications, '次のページへ', class: "next" %>
      </div>
    </div>
  </div>
</div>

<!--無限スクロール-->
<script>
  $(document).on('turbolinks:load', function() {
  $('.jscroll').jscroll({
    contentSelector: '.jscroll',
    nextSelector: 'a.next',
    loadingHtml: '読み込み中'
  });
});
</script>