<div class="jumbotron">
<h1 class="text-center pt-5 pb-3">EME<br>(enhance mutual exchange)</h1>
<div class="col-md-8 offset-md-3">
  <div class="row">
    <div class="col-md-4 offset-md-1 mb-4">
      <%= link_to "新規登録", new_user_registration_path, class: "w-75 btn btn-lg btn-primary" %>
    </div>

    <div class="col-md-4">
      <%= link_to "ログイン", new_user_session_path, class: "w-75 btn btn-lg btn-success" %>
    </div>

    <div class="col-md-4 offset-md-1 mb-5">
      <%= link_to "お問い合わせ", inquiry_path, class: "w-75 btn btn-lg btn-secondary" %>
    </div>

    <div class="col-md-4">
      <%= link_to "パスワード再設定", new_user_password_path, class: "w-75 btn btn-lg btn-info" %>
    </div>

    <div class="col-md-9">
      <h1 class="top-intro text-center">概要</h1>
      <div class="sub-title">
        社会人同士 or 企業と求職者 or 企業同士のビジネスにおける相互交流を充実させるためのサイトです。<br>
        自身のスキルを高めたり、社会における交流の場を広げるためのサイト<br><br>
        社会人においては、企業の商談時に「名刺代わり」「情報収集」をメインで活用でき、<br>
        学生やフリーターにおいては、「学習記録」「ビジネスにおける関係性を築く」で活用できます！<br><br>
        色んな方をフォローして社会における関係性を広げていきましょう！
      </div>
    </div>

      <div class="container">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>
      </div>

  </div>
</div>
</div>


<!--jsで画像スライダーの作成中-->
<!--画像の表示さえできれば完璧-->


<div class="main-container">
  <h1>This is my Portfolio Site</h1>
  <p>これは私のポートフォリオサイトです</p>
</div>

<div class="swiper-container" id="swiper07">
      <div class="swiper-wrapper">
        <div class="swiper-slide1">a</div>
        <div class="swiper-slide2">s</div>
        <div class="swiper-slide3">c</div>
      </div>
        <div class="swiper-button-prev swiper-button-white"></div>
        <div class="swiper-button-next swiper-button-white"></div>
    </div>

<!-- Slider main container -->
<div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide"><div class="swiper-slide1">s</div></div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        ...
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- If we need scrollbar -->
    <div class="swiper-scrollbar"></div>
</div>


<script>
var mySwiper = new Swiper('.swiper-container', {
  // Optional parameters
  direction: 'vertical',
  loop: true,

  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar',
  },
})

</script>