<div class="dm_list">
  <% @rooms.each do |room|%>
    <div class="dm_list__content">
      <%= link_to room_path(room), class: "dm_list__content__lin" do %>
        <div class="dm_list__content__link__box">
            <%= opponent_user_image(room) %>
            <%= opponent_user(room) %>
            <%= most_new_direct_message_preview(room) %>
        </div>
      <% end %>
    </div>
  <% end %>    
</div>
