// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.test-center{
  text-align: center;
}


.form-top{
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}

.jumbotron {
  background: url(top.jpg)center no-repeat;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.sub-title{
  border: 3px solid;
  border-radius: 8px;
  padding: 30px;
  font-weight:  bold;
}



.main-container{
  background-image: image-url('top.jpg');
  background-size: cover;
}

.swiper-slide1{
  background-image: image-url('sns.jpg');

  width: 600px;
}

.swiper-slide2{
  background-image: image-url('relationship.jpg');

  width: 600px;
}
.swiper-slide3{
  background-image: image-url('learn.jpg');

  width: 600px;
}

.swiper-container {
    width: 600px;
    height: 300px;
}