// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.test-center{
  text-align: center;
}


.form-top{
  width: 100%;
  max-width: 400px;
  padding: 15px;
  margin: auto;
}