// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.card {
  margin-bottom: 10px;
}

.card-img-wrap {
  position: relative;
  overflow: hidden;
  height: 17rem;
}

.card-image{
  position: absolute;
  top: 49%;
  left: 48%;
  transform: translate(-50%, -50%);
  background-position: center;
  margin: 5px;
  width: 400px;
  height: 280px;
  border: 1px solid #ccc;
  background-size: cover;
}